/*===================================*/

body {
	background: url(../images/bg-body.jpg) repeat;
	padding: 145px 0 0 0;
	margin: 0;
	text-align: center;
}

#refresh{
	padding-top: 60px;
	padding-bottom:	15px;
}

#streamerList{
	padding-bottom: 15px;
}

/*===================================*/

#background {
	background: url(../images/bg-page.jpg) no-repeat top;
}

/*===================================*/

body #content-body{
	background: url(../images/bg-body2.png) repeat-y center;
	width: 1250px;
	margin: 0 auto;
}

/*===================================*/

.stream-player{
	background-image:url('../images/streamers.jpg');
	height: 600px;
	width: 925px;
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}