/*===================================*/

body {
	background: url("../images/bg-body.jpg") repeat;
}
#background{
	border-top: 145px solid transparent;
	background-image:url("../images/bg-page.jpg");
	background-origin:padding-box;
	background-repeat:no-repeat;
	background-position: center;
	height: 1027px;
	padding-top: 50px;
}
#buttonDiv{
	text-align: center;
}
#streamDiv{
	text-align: center;
}
#refresh{
	padding-top: 60px;
	padding-bottom:	50px;
}

body #content-body{
	background: url(../images/bg-body2.png) repeat-y center;
	width: 1250px;
	margin: 0 auto;
}

/*===================================*/

.stream-player{
	background-image:url('../images/streamers.jpg');
	height: 600px;
	width: 925px;
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

#refreshBtn{
	width: 70px;
	height: 70px;
	background-image: url(../images/refresh.png);
	background-position: center;
	background-size: cover;
	background-color: white;
}